@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll */
html {
    scroll-behavior: smooth;
}

.perspective-wrapper {
    perspective: 700px;
}

.transform-3d {
    transform: scale3d(0.9, 0.8, 1) rotateX(25deg) rotateY(-9deg) rotateZ(20deg);
    transform-style: preserve-3d;
}

@keyframes sliding-img-up-1 {
    0% {
        transform: translateY(0);
    }
    to {
        transform: translateY(-722px);
    }
}
@keyframes sliding-img-up-2 {
    0% {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1098px);
    }
}
@keyframes sliding-img-down-1 {
    0% {
        transform: translateY(-1161px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes sliding-img-down-2 {
    0% {
        transform: translateY(-1389px);
    }
    to {
        transform: translateY(0);
    }
}

.animation-sliding-img-down-1 {
    animation: 30s linear infinite sliding-img-down-1;
}
.animation-sliding-img-up-1 {
    animation: 30s linear infinite sliding-img-up-1;
}
.animation-sliding-img-up-2 {
    animation: 30s linear infinite sliding-img-up-2;
}
